<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Dailyepisode notification</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type='text/css' integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
</head>
<body>
    <div class="container">
        <div class="header lead">
            <p class="greeting">Dear patriques,</p>
            <p class="message">3 of your subscriptions have been updated recently.</p>
        </div>
        <div class="subscriptions">
            <div class="row">
                <div style="padding: 20px; margin-bottom: 30px; border: 1px solid #adadad;">
                    <img class="float-left" src="https://m.media-amazon.com/images/M/MV5BYmE5Yjg0MzktYzgzMi00YTFiLWJjYTItY2M5MmI1ODI4MDY3XkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_UX140_CR0,0,140,209_AL_.jpg" alt="img" />
                    <div class="caption">
                        <h3><a>Series name</a> <small>(1983-01-01 - 2001-11-13)</small></h3>
                        <details>
                            <summary>release information</summary>
                            <div class="well">
                                <p class="last-air-date">last air date: 2001-11-13</p>
                                <p class="info">nr of episodes: 36</p>
                                <p class="info">nr of seasons: 5</p>
                                <p class="info">updated: 2001-11-14</p>
                            </div>
                        </details>
                    </div>
                </div>
                <div style="padding: 10px; border: 1px solid #adadad;">
                    <img class="float-left" src="https://m.media-amazon.com/images/M/MV5BYmE5Yjg0MzktYzgzMi00YTFiLWJjYTItY2M5MmI1ODI4MDY3XkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_UX140_CR0,0,140,209_AL_.jpg" alt="img" />
                    <div class="caption">
                        <h3><a>Series name</a> <small>(1983-01-01 - 2001-11-13)</small></h3>
                        <details>
                            <summary>release information</summary>
                            <div class="well">
                                <p class="last-air-date">last air date: 2001-11-13</p>
                                <p class="info">nr of episodes: 36</p>
                                <p class="info">nr of seasons: 5</p>
                                <p class="info">updated: 2001-11-14</p>
                            </div>
                        </details>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>